@page
@model read_cookie.Views.Home.AcessoNegado

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1 style="color: red">Acesso Negado</h1>
</div>
</body>
</html>