@page
@model read_cookie.Views.Home.AcessoNegado

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Acesso Permitido</h1>
    <a asp-action="logout" asp-controller="home">Sair</a>
</div>
</body>
</html>