@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<div>
    <form asp-action="Index" asp-controller="Home">
        <input type="text" name="nome" /> <br />
        <input type="text" name="perfil" /> <br />
        <button>Enviar</button>
    </form>
</div>